<div class="card card-body mb-2">
    <div class="row">
        <div class="col-md-12">
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Content</th>
                            <th scope="col">Author</th>
                            <th scope="col">Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let note of notes">
                          <tr>
                            <th>{{note._id}}</th>
                            <td>{{note.title}}</td>
                            <td>{{note.content}}</td>
                            <td>{{note.author}}</td>
                            <td>{{note.date}}</td>
                            <td><button class="btn btn-outline-warning" [routerLink]="['/note/edit',note._id]">Edit</button></td>
                            <td><button class="btn btn-outline-danger" (click)="deleteNote(note._id)" >delete</button></td>
                          </tr>
                        </tbody>
                 </table>
        </div>
    </div>
</div>
